#formStyle_apply{width:940px;height:auto;margin:auto;margin-top:-10px;background-color:#D6D6D6;}
#fieldsetStyle{width:700px;height:auto;margin:auto;border:1px dashed #999999;margin-top:50px;}
#legendMed_apply{width:380px;border:1px dashed #999999;padding-top:5px;background-color:#708090;color:#ffffff;margin:auto;}
#submit{border:0px dashed #999999;height:80px;}
.divStyle01{width:450px;margin:auto;}
.divStyle02{width:150px;}
.divStyle03{width:220px;}
.yesStyle01{margin-top:10px;border:0px dashed #999999;}
#sincerDiv{height:100px;margin-top:-30px;}
#sinStyle{padding-top:0px;margin-top:0px;font-size:20px;}
#sub{float:left;margin-left:250px;}
#res{float:left;margin-left:150px;}