#divTop{padding: .75em;width:920px;margin-left:-20px;}
#helloDiv{text-align:left;margin-left:170px;margin-top:20px;width:600px;font-family: cursive sans-serif serif;font-size: 17px;}
#helloWord{color:#D2691E;font-weight:600;}
#userEmail{color:#D2691E;margin-left:3px;font-weight:600;}
#please{color:#698B69;margin-left:8px;font-weight:600;}
#formStyle{margin-top:30px;border:0px dashed #ADADAD;width:920px;margin-left:20px;height:1080px;margin-top:50px;padding-top:10px;padding-bottom:10px;}
#basicData,#emerCont{width:400px;margin:auto;text-align:center;border:1px dashed #999999;padding:30px;margin-top:30px;}
.title{float:left;margin-left:10px;margin-top:-50px;padding-bottom:5px;padding-left:5px;padding-right:5px;width:170px;height:30px;color:#ffffff;background-color:#708090;border:1px dashed #999999;font-size:18px;}
#save{float:left;margin-left:250px;width:60px;}
#reset{margin-left:-150px;width:70px;}