<form name="form" class="form-horizontal" ng-show="isRetreatDataReady" id="formStyle_apply">
  <fieldset id="fieldsetStyle">
    <legend id="legendMed_apply" style="margin-left:150px;">Meditation Application Form</legend>
    <div class="control-group divStyle01">
      <label class="control-label" for="afMeditationMethod">Meditation Method</label>
      <div class="controls divStyle03">
        <input id="afMeditationMethod" type="text" placeholder="Meditation Method" ng-model="user.medMethod"/>
      </div>
    </div>
    <div class="control-group divStyle01">
      <label class="control-label" for="afMeditationInstructor">Meditation Instructor</label>
      <div class="controls divStyle03">
        <input id="afMeditationInstructor" type="text" placeholder="Meditation Instructor" ng-model="user.medInstructor"/>
      </div>
    </div>
  <div class="control-group divStyle01">
    <label class="control-label">Join Our Meditaion Before?</label>
    <div class="controls divStyle02">
      <label class="radio inline">
        <input type="radio" ng-model="user.joined" value="yes">Yes
      </label>
      <label class="radio inline">
        <input type="radio" ng-model="user.joined" value="no">No
      </label>
      <div ng-show="user.joined == 'yes'" class="yesStyle01">
        <div class="control-group">
          <label class="control-label" for="afJoinedPlace">Place</label>
          <div class="controls divStyle03">
            <input id="afJoinedPlace" type="text" placeholder="Place" ng-model="user.joinedPlace"/>
          </div>
          <label class="control-label" for="afJoinedDate">Date</label>
          <div class="controls divStyle03">
            <input id="afJoinedDate" type="text" placeholder="Date" ng-model="user.joinedDate" datepicker/>
          </div>
          <label class="control-label" for="afJoinedInstructor">Instructor</label>
          <div class="controls divStyle03">
            <input id="afJoinedInstructor" type="text" placeholder="Instructor" ng-model="user.joinedInstructor"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-group divStyle01">
    <label class="control-label">Serious Illness?</label>
    <div class="controls divStyle02">
      <label class="radio inline">
        <input type="radio" ng-model="user.srIll" value="yes">Yes
      </label>
      <label class="radio inline">
        <input type="radio" ng-model="user.srIll" value="no">No
      </label>
      <div ng-show="user.srIll == 'yes'" class="yesStyle01">
        <div class="control-group">
          <label class="control-label" for="afSrillName">Illness Name</label>
          <div class="controls divStyle03">
            <input id="afSrillName" type="text" placeholder="Illness Name" ng-model="user.srIllName"/>
          </div>
          <label class="control-label" for="afSrillPrescription">Prescription</label>
          <div class="controls divStyle03">
            <input id="afSrillPrescription" type="text" placeholder="Prescription" ng-model="user.srIllPrescription"/>
          </div>
          <label class="control-label" for="afSrillTreatmentStatus">Treatment Status</label>
          <div class="controls divStyle03">
            <input id="afSrillTreatmentStatus" type="text" placeholder="Treatment Status" ng-model="user.srIllTreatment"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-group divStyle01">
    <label class="control-label">Mental Illness?</label>
    <div class="controls divStyle02">
      <label class="radio inline">
        <input type="radio" ng-model="user.mtIll" value="yes">Yes
      </label>
      <label class="radio inline">
        <input type="radio" ng-model="user.mtIll" value="no">No
      </label>
      <div ng-show="user.mtIll == 'yes'" class="yesStyle01">
        <div class="control-group">
          <label class="control-label" for="afMtillName">Illness Name</label>
          <div class="controls divStyle03">
            <input id="afMtillName" type="text" placeholder="Illness Name" ng-model="user.mtIllName"/>
          </div>
          <label class="control-label" for="afMtillPrescription">Prescription</label>
          <div class="controls divStyle03">
            <input id="afMtillPrescription" type="text" placeholder="Prescription" ng-model="user.mtIllPrescription"/>
          </div>
          <label class="control-label" for="afMtillTreatmentStatus">Treatment Status</label>
          <div class="controls divStyle03">
            <input id="afMtillTreatmentStatus" type="text" placeholder="Treatment Status" ng-model="user.mtIllTreatment"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-group divStyle01">
    <label class="control-label">In the past three yesrs, addict to alcohol, drug, or narcotic?</label>
    <div class="controls divStyle02">
      <label class="radio inline">
        <input type="radio" ng-model="user.adct" value="yes">Yes
      </label>
      <label class="radio inline">
        <input type="radio" ng-model="user.adct" value="no">No
      </label>
      <div ng-show="user.adct == 'yes'">
        <div class="control-group yesStyle01">
          <label class="control-label" for="afAddictTime">Addiction Time</label>
          <div class="controls">
            <input id="afAddictTime" type="text" placeholder="Addiction Time" ng-model="user.adctTime" datepicker/>
          </div>
          <label class="control-label" for="afAddictType">Addiction Type</label>
          <div class="controls">
            <input id="afAddictType" type="text" placeholder="Addiction Type" ng-model="user.adctType"/>
          </div>
          <label class="control-label" for="afAddictTreatmentStatus">Treatment Status</label>
          <div class="controls">
            <input id="afAddictTreatmentStatus" type="text" placeholder="Treatment Status" ng-model="user.adctTreatment"/>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-group divStyle01">
    <label class="control-label">Available Retreat</label>
    <div class="controls divStyle02">
      <div ng-repeat="retreat in retreats">
        <input type="radio" ng-model="user.retreat" value="{{retreat.urlsafe}}">{{retreat.place}}(from {{retreat.startDate}} to {{retreat.endDate}})
      </div>
    </div>
  </div>

  <div class="alert alert-info alert-block">
    <strong>Important Rules and Regulations of Tusita Hermitage </strong>
    <ol style="text-align: left;">
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="rule_01" required />The Tusita Sangha Council (Council) Chairs the Management and Administration of the Hermitages
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="rule_02" required />Sangha &amp; Sayalay Officers serve on behalf of the Council to carry-out daily administrative duties of the Hermitages
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="rule_03" required />Students must respectfully adhere to administrative instructions given by management
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="rule_04" required />The Hermitages do not allow self-practitioners; interviews with the Meditation Teacher must be attended
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="rule_05" required />Students must take Dhamma instructions from only the approved Meditation Teacher
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="rule_06" required />Students should practice with respect, sincerity, diligence, honesty, patience, perseverance and continuous mindfulness throughout their stay at the Hermitages
        </label>
      </li>
    </ol>
  </div>

  <div class="alert alert-info alert-block">
    <strong>Declaration</strong><br/>
    <strong><em>I hereby declare that:</em></strong>
    <ul style="text-align: left;">
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_01" required />I will respect the Theravada Sangha system, Tusita Sangha Council leadership and administration of the Hermitage.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_02" required />I will observe the No-Money rules strictly here during my stay and from now onwards (please relinquish all forms of money as well as all requisites not obtained according to Vinaya before entering the Hermitages).
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_03" required />I promise to undergo the <strong><em>Purification of Virtue</em></strong> as outlined in the “<strong>Code of Discipline</strong>” from now onwards.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_04" required />I promise to continue to keep up to the Dhamma Vinaya as interpreted and observed by the Council during my stay.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_05" required />I will respectfully and faithfully go for, receive and apply the Dhamma instructions given by the Meditation Teacher.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_06" required />I will readily accept any changes and addition of rules pronounced by the Council.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_07" required />I will not give any teaching or involve in the administration of the Hermitages except at the request of the Council.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_08" required />I will be tolerant, forgiving and harmonious in the community.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_09" required />I will keep to the rules of Noble Silence and Non-Communication with Non-Residents (outsiders) except with the specific permission of the Council.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_10" required />I will declare and hand over my mobile phone, computer etc. to the Council’s care throughout my stay in the Hermitages.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_11" required />Besides my belongings properly stored with the consent of the management, I <strong>relinquish all requisites</strong> I leave behind at the Hermitages to the discretion of the Council.
        </label>
      </li>
      <li>
        <label class="checkbox">
          <input type="checkbox" ng-model="user.applicantDeclaration_12" required />I have completed this <strong>Student Application Form </strong>honestly, true-heartedly and to the best of my ability.  I agree to all terms and conditions of training at the Hermitages
        </label>
      </li>
    </ul>
  </div>
  <div id="sincerDiv">
    <p id="sinStyle">Sincerely,</p>
      Name: <input type="text" ng-model="user.printName" required />,
      Date: <input type="text" ng-model="user.formSubmitDate" datepicker/>
  </div>
  </fieldset>
  <br />
  <div class="control-group" id="submit">
    <div class="controls">
      <button id="sub" class="btn btn-primary" ng-click="submit(user)" ng-disabled="form.$invalid || isUnchanged(user)">SUBMIT</button>
      <button id="res" class="btn" ng-click="reset()" ng-disabled="isUnchanged(user)">RESET</button>
    </div>
  </div>
</form>

<div id="saveAppFormModal" class="modal hide fade">
  <div class="modal-header">
    <h3>Info</h3>
  </div>
  <div class="modal-body">
    <div ng-hide="failToSaveUserData"><p>Please wait for our review!</p></div>
    <div ng-show="failToSaveUserData"><p>Cannot save your data! Please check your internet connection!</p></div>
  </div>
  <div class="modal-footer">
    <div ng-hide="failToSaveUserData"><a href="/" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</a></div>
    <div ng-show="failToSaveUserData"><button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button></div>
  </div>
</div>
