<div ng-hide="isRetreatDataReady">{{_("Loading Retreat Data")}}...</div>
<div ng-show="updatingRetreatData">{{_("Updating Retreat Data")}}...</div>
<div ng-show="failToUpdateRetreatData">{{_("Fail to Update Retreat Data")}}...</div>
<div ng-show="isRetreatDataReady">
  <table class="table table-striped">
    <caption class="alert alert-info">{{_("All Retreats")}}</caption>
    <thead>
      <tr>
        <th>{{_("Data")}}</th>
        <th>{{_("Action")}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="retreat in retreats">
        <td>{{_("Retreat")}} #{{ $index + 1 }}</td>
        <td><a name="{{ retreat.urlsafe }}" ng-click="manageRetreat(retreat.urlsafe)">{{_("Modify")}}</a></td>
      </tr>
    </tbody>
  </table>
</div>


<div id="manageRetreatModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{_("Retreat Detail")}}</h3>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span4">{{_("Place")}}</div>
      <div class="span8"><input id="retreatPlace" type="text" placeholder="Place" ng-model="retreatSelected.place"/></div>
    </div>
    <div class="row-fluid">
      <div class="span4">{{_("Start Date")}}</div>
      <div class="span8"><input id="retreatStartDate" type="text" placeholder="Start Date" ng-model="retreatSelected.startDate" datepicker/></div>
    </div>
    <div class="row-fluid">
      <div class="span4">{{_("End Date")}}</div>
      <div class="span8"><input id="retreatEndDate" type="text" placeholder="End Date" ng-model="retreatSelected.endDate" datepicker/></div>
    </div>
    <div class="row-fluid">
      <div class="span4">{{_("Instructor")}}</div>
      <div class="span8"><input id="retreatInstructor" type="text" placeholder="Instructor" ng-model="retreatSelected.instructor"/></div>
    </div>
    <div class="row-fluid">
      <div class="span4">{{_("Receiver Email")}}</div>
      <div class="span8"><input id="retreatReceiver" type="text" placeholder="Receiver Email" ng-model="retreatSelected.receiverEmail"/></div>
    </div>
    <div class="row-fluid">
      <div class="span4">{{_("Max # of Students")}}</div>
      <div class="span8"><input id="retreatMax" type="text" placeholder="Maximum Number of Students" ng-model="retreatSelected.max"/></div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true" ng-click="saveModifiedRetreat(retreatSelected)">{{_("Save")}}</button>
    <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{_("Close")}}</button>
  </div>
</div>

