<div style="padding: 5px;">
  Hello, <b><i style="color: red;">{{ userEmail }}</i></b>. You login in for the first time. <br />
  Please fill in the following basic data of you.<br />
  <br />
  Email:<input size="40" type="email" readonly ng-model="email"/><br />
  Name:<input size="40" type="text" ng-model="name"/><br />
  Birthday:<br />
  Citizenship:<input size="40" type="text" ng-model="citizenship"/><br />
  ID #:<input size="40" type="text" ng-model="idnum"/><br />

  Gender: <input type="radio" ng-model="gender" value="male">Male
  <input type="radio" ng-model="gender" value="female">Female<br />

  Landline (Fixed Phone Line):<input size="40" type="text" ng-model="landline"/><br />
  CellPhone:<input size="40" type="text" ng-model="cellphone"/><br />
  Address:<input size="80" type="text" ng-model="address"/><br />
  Emergency contact:<br />
  Notes:<br /><textarea rows="10" cols="80" ng-model="notes"></textarea>
</div>
