<div>
  <select ng-model="method">
    <option>GET</option>
    <option>POST</option>
    <option>PUT</option>
    <option>DELETE</option>
  </select>
  <br />
  Email:<input size="40" type="email" readonly ng-model="email"/><br />
  Name:<input size="40" type="text" ng-model="name"/><br />
  Phone:<input size="40" type="text" ng-model="phone"/><br />
  Address:<input size="80" type="text" ng-model="address"/><br />
  Notes:<br /><textarea rows="10" cols="80" ng-model="notes"></textarea>
  <br />
  <pre>http status code: {{status}}</pre>
  <pre>http response data: {{data}}</pre>
  <button ng-click="test()">Test</button>
</div>
