<div style="padding: .75em;">
  <div ng-show="savingUserData" style="color: red;">Saving User Data...<br /></div>
  <div ng-show="failToSaveUserData" style="color: red;">Sorry. Fail to save your data. Please check your internet connection and try again.<br /></div>
  <div ng-hide="isUserDataReady">
    Hello, <b><i style="color: red;">{{ userEmail }}</i></b>. Please fill in the following basic data.<br /><br />
  </div>
<form name="form" class="css-form">
  Email:<input type="email" readonly required ng-model="email"/><br />
  Name:<input type="text" name="name" required ng-model="user.name"/><br />
    <div style="color:red;" ng-show="form.name.$dirty && form.name.$invalid">Invalid:
      <span ng-show="form.name.$error.required">Tell us your name.</span>
    </div>

  Birthday:<input type="date" ng-model="user.birthday"/><br />
  Citizenship:<input type="text" ng-model="user.citizenship"/><br />
  ID #:<input type="text" ng-model="user.idnum"/><br />

  Gender: <input type="radio" ng-model="user.gender" value="male">Male
  <input type="radio" ng-model="user.gender" value="female">Female<br />
  <br />
  Landline (Fixed Phone Line):<input type="text" ng-model="user.landline"/><br />
  CellPhone:<input type="text" ng-model="user.cellphone"/><br />
  Address:<input size="60" type="text" ng-model="user.address"/><br />
  <br />
  Dhamma Name:<input type="text" name="dhammaName" ng-model="user.dhammaname"/><br />
  Current Status: <input type="radio" ng-model="user.status" value="ordained">Ordained
  <input type="radio" ng-model="user.status" value="laity">Laity<br />
  <div ng-show="user.status == 'ordained'" style="padding-left: 1em; padding-top: .5em;">
    Preceptor Name:<input type="text" ng-model="user.preceptorname"/><br />
    Date of Ordination:<input type="date" ng-model="user.dateordination"/><br />
    Place of Ordination:<input type="text" ng-model="user.placeordination"/><br />
  </div>
  <br />
  <div style="border: 1px dotted blue; padding: .5em;">
    Emergency contact:
    <div style="padding-left: 1em; padding-top: .5em;">
      Name:<input type="text" ng-model="user.emg.name"/><br />
      Relationship:<input type="text" ng-model="user.emg.relation"/><br />
      Landline (Fixed Phone Line):<input type="text" ng-model="user.emg.landline"/><br />
      CellPhone:<input type="text" ng-model="user.emg.cellphone"/><br />
      Address:<input size="60" type="text" ng-model="user.emg.address"/><br />
    </div>
  </div>
  <br /><br />
  <button ng-click="reset()" ng-disabled="isUnchanged(user)">RESET</button>
  <button ng-click="update(user)" ng-disabled="form.$invalid || isUnchanged(user)">SAVE</button>
</form>
</div>
