<div style="padding: .75em;">
  <div ng-show="savingUserData" style="color: red;">Saving User Data...<br /></div>
  <div ng-show="failToSaveUserData" style="color: red;">Sorry. Fail to save your data. Please check your internet connection and try again.<br /></div>
  <div ng-hide="isUserDataReady">
    Hello, <b><i style="color: red;">{{ userEmail }}</i></b>. Please fill in the following basic data.<br /><br />
  </div>
<form name="form" class="form-horizontal css-form">
  <div class="control-group">
    <label class="control-label" for="userDataEmail">Email</label>
    <div class="controls">
      <input id="userDataEmail" type="email" placeholder="Email" readonly required ng-model="email"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="userDataName">Name</label>
    <div class="controls">
      <input id="userDataName" type="text" placeholder="Name" name="name" required ng-model="user.name"/>
    </div>
    <!--
    <div style="color:red;" ng-show="form.name.$dirty && form.name.$invalid">Invalid:
      <span ng-show="form.name.$error.required">Tell us your name.</span>
    </div>
    -->
  </div>
  <div class="control-group">
    <label class="control-label" for="userDataBirthday">Birthday</label>
    <div class="controls">
      <input id="userDataBirthday" type="date" placeholder="Birthday" ng-model="user.birthday"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="userDataCitizenship">Citizenship</label>
    <div class="controls">
      <input id="userDataCitizenship" type="text" placeholder="Citizenship" ng-model="user.citizenship"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="userDataIdnum">ID Number</label>
    <div class="controls">
      <input id="userDataIdnum" type="text" placeholder="ID Number" ng-model="user.idnum"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Gender</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" ng-model="user.gender" value="male">Male
      </label>
      <label class="radio inline">
        <input type="radio" ng-model="user.gender" value="female">Female
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="userDataLandline">Landline</label>
    <div class="controls">
     <input id="userDataLandline" type="text" placeholder="Fixed Phone Line" ng-model="user.landline"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="userDataCellphone">Cellphone</label>
    <div class="controls">
     <input id="userDataCellphone" type="text" placeholder="Cellphone" ng-model="user.cellphone"/>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="userDataAddress">Address</label>
    <div class="controls">
     <input id="userDataAddress" type="text" placeholder="Address" ng-model="user.address"/>
    </div>
  </div>

  Dhamma Name:<input type="text" name="dhammaName" ng-model="user.dhammaname"/><br />
  Current Status: <input type="radio" ng-model="user.status" value="ordained">Ordained
  <input type="radio" ng-model="user.status" value="laity">Laity<br />
  <div ng-show="user.status == 'ordained'" style="padding-left: 1em; padding-top: .5em;">
    Preceptor Name:<input type="text" ng-model="user.preceptorname"/><br />
    Date of Ordination:<input type="date" ng-model="user.dateordination"/><br />
    Place of Ordination:<input type="text" ng-model="user.placeordination"/><br />
  </div>
  <br />
  <div style="border: 1px dotted blue; padding: .5em;">
    Emergency contact:
    <div style="padding-left: 1em; padding-top: .5em;">
      Name:<input type="text" ng-model="user.emg.name"/><br />
      Relationship:<input type="text" ng-model="user.emg.relation"/><br />
      Landline (Fixed Phone Line):<input type="text" ng-model="user.emg.landline"/><br />
      CellPhone:<input type="text" ng-model="user.emg.cellphone"/><br />
      Address:<input size="60" type="text" ng-model="user.emg.address"/><br />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button class="btn" ng-click="reset()" ng-disabled="isUnchanged(user)">RESET</button>
      <button class="btn" ng-click="update(user)" ng-disabled="form.$invalid || isUnchanged(user)">SAVE</button>
    </div>
  </div>
</form>
</div>
