<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Demo Page of Tusita: DataBase Management</title>
<link rel="stylesheet" type="text/css" href="/css/main.css" />

</head>
<body>
<div style="width: 100%;">
 <div style="width: 10%; float: left;">&nbsp;</div>
 <div style="width: 80%; float: left;">
   Hello! {{ visitorEmail }}
   <br />
   You are in Database Management page.
   <br />
   {% if currentPath == '/dbshow' %}
     Database Show Page<br />
     <table>
     <tr><th>Email</th><th>name</th><th>phone</th><th>address</th><th>notes</th></tr>
       {% for data in dataArray %}
         <tr><td>{{ data.email }}</td>
             <td>{{ data.name }}</td>
             <td>{{ data.phone }}</td>
             <td>{{ data.address }}</td>
             <td>{{ data.notes }}</td></tr>
       {% endfor %}
     </table>
   {% elif currentPath == '/dbadd' %}
     Database Add Page<br />
     <form action="/dbadd" method="post">
       Email: <input size="40" type="email" name="email"><br>
       Name: <input size="40" type="text" name="name"><br>
       Phone: <input size="30" type="text" name="phone"><br>
       Address: <input size="80" type="text" name="address"><br>
       Notes: <br /><textarea rows="10" cols="80" name="notes"></textarea><br>
       <input type="submit" value="Submit">
     </form>
   {% elif currentPath == '/dbdelete' %}
     Database Delete Page<br /><br />
     Please input the Email to be deleted:
     <form action="/dbdelete" method="post">
       <input size="40" type="email" name="email"><br>
       <input type="submit" value="Submit">
     </form>
   {% else %}
     This should not happen!
   {% endif %}
 </div>
</div>
</body>
</html>
