<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Demo Page of Tusita</title>
<link rel="stylesheet" type="text/css" href="/css/main.css" />

</head>
<body>
<div style="width: 100%;">
 <div style="width: 10%; float: left;">
   <a href="http://localhost:8080/RESTful/test@example.com">RESTful test #1</a><br />
   <a href="http://localhost:8080/RESTful/test2@example.com">RESTful test #2</a><br />
 </div>
 <div style="width: 80%; float: left;">
   Hello! Your Email: {{ visitorEmail }}
   <br />
   You are in main page.
 </div>
</div>
</body>
</html>
