<!DOCTYPE html>
<html ng-app="tusitaPersonal">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css"/>
<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" />
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<link rel="stylesheet" type="text/css" href="/css/userdata.css"/>
<title>Personal Page | Tusita Hermitage</title>
</head>
<body ng-controller="mainCtrl">
<div id="all">
 <img src="/image/Tusita-header.jpg"/>
 <div id="title">
   {% if isLogin %}
   <div ng-show='isUserDataReady'>
    <p id="login1">
    <span class="fontStyle_hello">Hello!</span>
    <span class="fontStyle_user">{{ userData.name }}</span>
    <span class="fontStyle_logout"><a href="{$ signoutURL $}" target="_self">(Sign Out)</a></span>
    </p>
   </div>
   <div ng-hide='isUserDataReady'>
    <p id="login2">
    <span class="fontStyle_hello">Hello!</span>
    <span class="fontStyle_user" id="userEmail">{$ userEmail $}</span>
    <span class="fontStyle_logout"><a href="{$ signoutURL $}" target="_self">(Sign Out)</a></span>
    </p>
   </div>
  {% else %}
  <p id="login">
   <a href="{$ signinOrRegisterURL $}" target="_self">Sign In or Register</a>
  </p>
  {% endif %}
  <h3>Personal Page of Tusita Hermitage</h3>
 </div>
 <div id="root">
  <p id="path">
   <span class="spanStyle02b"><a id="indexA" href="http://tusitainternational.net/zh/" target="_self">go Tusita</a></span>
   <span class="spanStyle01b">&#8596</span>
   <span class="spanStyle01a">web position：Friends of the Tusita</span>
  </p>
  <p ng-show="isUserDataReady" id="userdataReback">
   <span class="spanStyle02a"><a class="aStyle00" href="/userdata">Update My Data</a>│</span>
   <span class="spanStyle02a"><a class="aStyle00" href="/apply">Meditation Application</a>│</span>
   <span class="spanStyle02a"><a class="aStyle00" href="/record">Meditation Record</a>│</span>
   <span class="spanStyle02a"><a class="aStyle00" href="/">Home</a>│</span>
  </p>
 </div>
 <div id="content">
  <div class="span8" style="width:940px;margin:auto;"><div ng-view></div>&nbsp;</div>
 </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
