<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Demo Page of Tusita</title>
<link rel="stylesheet" type="text/css" href="/css/main.css" />

</head>
<body>
<div style="width: 100%;">
 <div style="width: 10%; float: left;">
   <a href="http://devtusita.appspot.com/">DEV TUSITA</a><br />
   <a href="https://github.com/siongui/devtusita">GitHub Source Code</a><br />
   <a href="https://appengine.google.com/">Google App Engine Dashboard</a><br />
   <a href="/RESTful/test@example.com">RESTful test #1</a><br />
   <a href="/RESTful/test2@example.com">RESTful test #2</a><br />
 </div>
 <div style="width: 80%; float: left;">
   Hello! <b style="color: red;"><i id="userEmail">{{ visitorEmail }}</i></b> (<a href="{{ signoutURL }}">sign out</a>)
   <br /><br />
   RESTful test method:
   <select id="testMethod" name="method">
     <option value="get" selected="selected">GET</option>
     <option value="post">POST</option>
     <option value="put">PUT</option>
     <option value="delete">DELETE</option>
   </select>
   <br /><br />
     Email: <input id="emailInput" size="40" type="email" name="email"><br>
     Name: <input id="nameInput" size="40" type="text" name="name"><br>
     Phone: <input id="phoneInput" size="30" type="text" name="phone"><br>
     Address: <input id="addressInput" size="80" type="text" name="address"><br>
     Notes: <br /><textarea id="notesTextarea" rows="10" cols="80" name="notes"></textarea><br>
   <br />
   <button id="testButton" type="button">Test</button>
 </div>
</div>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
